---
layout: docs.njk
title: Overview
---
<style>
body, html, main{height: 100%}
#altnav{display: none}
</style>
<h1>Pondz Documentation</h1>

<p>Pondz is a collection of open source tools for use with DuckDB. They are designed to be easy to use.</p>

<p>Find this <a href="https://github.com/pondzdev/site">documentation on GitHub</a> and help improve it.</p>

<h2>Tools</h2>
<p><a href={{ env.baseURL }}/docs/duckdb-proxy>duckdb-proxy</a> - an HTTP proxy for DuckDB</p>
