<!DOCTYPE html>
<meta charset="utf-8">
<meta name=viewport content="width=device-width">
<style>
@font-face {
	font-family: 'ds';
	font-display: fallback;
	src: url('{{ env.baseURL }}/font.woff2') format('woff2');
}
body{font-family: 'ds', sans-serif;}
</style>
<link href={{ env.baseURL }}/css/main.css rel=stylesheet>
<title>{{ title }} | GoblGobl Docs</title>
<link rel=icon type="image/png" href="{{ env.baseURL }}/favicon.png">
<header>
	<ul>
		<li><a href={{ env.baseURL }}/>Home</a>
		<li><a href={{ env.baseURL }}/assets>Assets</a>
		<li><a href={{ env.baseURL }}/authen>Authen</a>
	</ul>
	<ul>
		<li><a href=https://github.com/goblgobl/{{ (section or '') }}>GitHub</a>
	</ul>
</header>
<div id=altnav>☰</div>
<div id=nav>{%- include '../' + (section or '') + '/_nav.njk' %}</div>
<main>{{ content | safe }}</main>
<script src={{ env.baseURL }}/docs.js></script>
