<!DOCTYPE html>
<html lang="en-US">
<meta charset="utf-8">
<meta name=referrer content=origin>
<meta name=viewport content="width=device-width,initial-scale=1">
<meta name=description content="open source software">
<title>{{ title }}</title>
<style>
* {margin: 0; padding: 0;}
*, *:before, *:after { box-sizing: border-box; }
ul{list-style: none}
body{font-family: sans-serif; font-size:18px}
main, footer {margin: 0 auto;padding:0 20px;}
h1{margin-bottom: 25px;}
h1,h2{font-weight: normal;}
a{text-decoration: none;color:#1c5bb3}
a:hover{text-decoration: underline}
p{line-height: 26px;margin-bottom: 20px}
code{background:#eee;padding:2px;border-radius:2px;}
header{display: flex;justify-content: flex-end}
header a{display: inline-block;background:#e6f3ff;line-height:35px;border-radius:0 0 4px 4px;padding:0 20px}
header a:hover{background:#fffdd4;text-decoration: none;color:#000}
{% block styles %}
{% endblock %}
</style>
<link rel=icon type=image/png href="{{ 'favicon.png' | asset_url}}">
{% block header %}
<header>
<ul>
  <li><a href="{{ env.baseURL }}/">home</a>
</ul>
</header>
{% endblock %}
<main>{% block content %}{% endblock %}</main>
