header {
	line-height: 30px;
	display: flex;
	font-size: 95%;
	position: fixed;
	width: 100%;
	z-index: 1;
	background: #f6f6f6;
	border-bottom: 1px solid #ddd;

	ul:last-of-type {
		margin-left: auto
	}

	ul {
		height: 100%;
		display: flex;
		font-size: 100%;
		list-style: none;
		align-items: end;
		justify-content: right;
	}
	ul a {
		color: #222;
		display: block;
		padding: 5px 20px;
		&:hover{
			color: #fff;
			background: #ff79c6;
			text-decoration: none;
		}
	}
}
