<p>The above is specific to this endpoint. Read the <a href=/authen/#errors>general error section</a> for an overview of how Authen handles and returns errors, as well as a list of global errors that any endpoint can return.</p>
