---
title:  not found
---
{% extends 'main.njk' %}
{% block styles %}
main{margin-top: 50px;max-width: 600px}
p{font-size: 20px;line-height: 30px}
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<h1>Sorry.</h1>
<p>The page could not be found. Maybe you'd like to go back to the <a href=/>home page</a>.</p>
{% endblock %}
