---
layout: main.njk
title: attributions | pondz
---
<header>
<ul>
	<li><a href="{{ env.baseURL }}/">home</a>
</ul>
</header>

<main>
<h1>Attribution</h1>
<div class=sections>
	<div class=section>
	<h2>DuckDB</h2>
	<p>Pondz is a collection of tools built for use with the excellent <a href="https://duckdb.org/">DuckDB</a> project. Thank you for the wonderful, open source, work.</p>
	</div>

	<div class=section>
	<h2>Zig</h2>
	<p>Pondz libraries are built using <a href="https://ziglang.org/">Zig</a>. It could have been built using any language; some things would have gone better, some worse. Few would have been as fun to work with though.</p>
	</div>

	<div class=section>
	<h2>Backblaze Hard Drive Data and Stats</h2>
	<p>The <a href="/demo/duckdb-proxy/">duckdb-proxy demo</a> uses a transformed version of the <a href=https://www.backblaze.com/b2/hard-drive-test-data.html>Backblaze Hard Drive Data and Stats</a>, which contains daily S.M.A.R.T. stats for hundreds of thousands of drives.</p>
	</div>

	<div class=section>
	<h2>Icon</h2>
	<p>The pondz icon was created by Freepik and downloaded from <a href="https://www.flaticon.com/free-icons/bear">flaticon.com</a>. Good search!</p>
	</div>
</div>
</main>
