---
layout: main.njk
title: goblgobl
---
<header>
<ul>
	<li><a href="{{ env.baseURL }}/attributions">attributions</a>
</ul>
</header>

<main>
<h1>Open Source tools</h1>

<div class=sections>
	<div class=section>
		<h2>DuckDB Proxy</h2>
		<p>An HTTP proxy for DuckDB. Execute arbitrary SQL and get JSON responses.</p>
		<ul class=links>
			<li><a href="demo/duckdb-proxy">demo</a>
			<li><a href="docs/duckdb-proxy">docs</a>
			<li><a href="https://github.com/goblgobl/duckdb-proxy/">github</a>
		</ul>
		<p><strong>warning:</strong> In DuckDB, a <code>select</code> is able to read arbitrary system files. Furthermore, DuckDB can load remote extensions and files. Do not expose this directly to untrusted users.</p>
	</div>

	<div class=section>
		<h2>Assets</h2>
		<p>Proxy server for static assets (e.g. css, js, fonts) as well as image resizing (using vipsthumbnail). It is a Go executable. It is open source, easy to install, reliable, secure and performant.</p>
		<ul class=links>
			<li><a href="docs/assets">docs</a>
			<li><a href="https://github.com/goblgobl/assets/">github</a>
		</ul>
	</div>

	<div class=section>
		<h2>Authen</h2>
		<p>Webservice for enhancing an existing authentication system.</p>
		<ul class=links>
			<li><a href="docs/authen">docs</a>
			<li><a href="https://github.com/goblgobl/authen/">github</a>
		</ul>
	</div>
</div>
</main>
