---
layout: main.njk
title: Overview
---
<style>
body, html, main{height: 100%}
#altnav{display: none}
</style>
<h1>GoblGobl Documentation</h1>

<p>GoblGobl is a collection of open source, focused, reliable and performant systems. They are designed to be easily self-hosted and scalable. While not a hard rule, GoblGobl systems are generally designed to enhance existing systems (e.g. adding 2FA to an existing authentication system).</p>

<p>Find this <a href="https://github.com/goblgobl/docs">documentation on GitHub</a> and help improve it.</p>

<h2>Systems</h2>
<ul>
	<li><a href={{ env.baseURL }}/assets>Assets (Static asset / image thumbnail proxy)</a>
	<li><a href={{ env.baseURL }}/authen>Authen (Authentication Enhancement)</a>
</ul>


